form {
    min-height: 520px;
    width: 110%;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 76%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-bottom: 5px !important;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

input[type='submit'] {
    margin-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    position: relative;

}

.social div {
    background: #22477e !important;
    width: 50%;
    border-radius: 15px;
    padding: 1px 5px 6px 3px;
    color: #eaf0fb;
    text-align: center;
}

.social div .sign {
    position: absolute;
    width: 44%;
    top: 12px;
}

/* .social .go a {
  position: absolute;
  left: 50px;
  top: 10px;
} */

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

/* ================================ */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(16, 88, 104) 50%, rgb(34, 71, 126) 50%);
}

/* a {
    text-decoration: none;
} */

.login {
    position: relative;
    /* background-color: #2b5374; */
    width: 33%;
    height: 400px;
    margin: 100px auto;
    /* box-shadow: 1px 4px 20px 5px #383232; */
}

.login h3 {
    font-family: cursive;
    font-weight: bold;
    font-size: xxx-large;

}

.payF {
    border: 1px solid #22477e;
    border-radius: 10px;
    box-shadow: 1px 1px 27px 2px #387597;
    color: white;
    padding: 50px;
    width: 160%;
    margin: 10px auto;
    position: absolute;
    top: 120px;
    right: -164px;

}
