:root {
  --main-padding: 100px;
  --main-color: rgb(0, 131, 143);
}
:root {
  --main-padding: 100px;
  --main-color: rgb(0, 131, 143);
  --kv-ee-heading-font-family: Libre Baskerville;
  --kv-ee-heading-font-weight: 700;
  --kv-ee-heading-font-style: normal;
  --kv-ee-body-font-family: Nunito;
  --kv-ee-body-font-weight: 300;
  --kv-ee-body-font-style: normal;
  --kv-ee-font-size-factor: 1;
  --kv-ee-font-size: 100%;
  --kv-ee-global-font-size-factor: var(--kv-ee-font-size-factor, 1);
}
body {
  font-family: "Open Sans", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji"; */
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start title  */
/* 
###############################################*/

/*
################################################### */
.constr{
      background-color: rgb(0, 149, 168);
    padding-top: 100px;
    padding-bottom: 30px;
}
.arch .constr .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
  margin-left: 50px;
  padding-bottom: 25px;


}
.arch .constr h1 {
  display: flex;
  color: white;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;

  padding-top: 15px;

}
.arch .constr p {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 37px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;

}


.arch .container .box {
  background: white;
  margin-top: 20px;
  margin-left: 15px;
  padding-bottom: 13px;
  transition: all 0.4s ease;
}
.arch .container .box:hover {
  transform: translateY(1rem);
}

.arch .container .box iframe {
  width: 500px;
  max-width: 100%; 
}
.arch .container .box .box-det{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arch .container .box .box-det h3{
  
  text-transform: capitalize;
  font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
}
.arch .container .box .box-det p{
  color: #000000bd;  
    font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.8px;

}








/* start radio  */
.arch .container .box input[type="radio"] {
  display: none;
}
.arch .container .box label span {
  position: relative;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 5px;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;

}
.arch .container .box label span::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
 
  left: 7px;

}
/* start media  */

/* end media  */
.arch .container .box label span.two {
 width: 134px;
  padding-left: 25px;
}
.arch .container .box label span.one::before {
  right: 61px;
}

.arch .container .box label span.two::before {
  right: 94px;
}
.arch .container .box label span.three::before {
  right: 39px;
}

.arch .container .box input[type="radio"]:checked + span {
  background-color: var(--main-color);
  color: white;
}
.arch .container .box input[type="radio"]:checked + span::before {
  height: 13px;
  width: 13px;

  border: 5px solid white;
  background-color: var(--main-color);
}
/* end radio  */
/* start media  */
@media screen and (max-width: 400px){
  .arch .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 0px !important;
  }
  .arch .container .box {
    margin-left:0px;
  }
   .arch .constr p {
         margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

  .arch .container .box-det p {
    margin-bottom: 19px;
    width: 100%;
    padding-top: 10px;
  }


}
@media screen and (min-width: 401px) and (max-width: 650px) {
  .arch .container {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 0;
    margin-left: -11px !important;
    
  }
  .arch .constr p {
    margin-left: 40px;
}  .arch .container .box {
  margin-left: 11px;

    
  }
 
  .arch input[type="submit"] {
    margin-left: 8px;
    padding: 5px 15px;
}
}
@media screen and (min-width:991px) and (max-width: 1024px) {
    .arch .container {
      margin-left:0;
    }
}

/* end media  */

/* end title  */


.pro {
  font-family: 'Libre Baskerville', serif;
  margin-top: 0px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  position: relative;
}
.pro .tree{
  background-image: url(../image/yah.jpeg);
  padding: 28px 38px;
  height: 548px;
  height: 548px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 29%;
}

.pro .twod{
  background-image: linear-gradient(rgb(0 0 0 / 61%), rgb(0 0 0 / 15%)),url(../image/moon.jpeg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0px;
}
.pro .threedmodel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  height: 300px;
  width: 445px;
  align-items: center;
  text-align: center;
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  position: absolute;
  top: 48%;
  left: 50%;
    transform: translate(-50%, -141%);
}  
  .pro .threedmodel h3{
    text-transform: capitalize;
    color: var(--main-color);  }
.pro .threedmodel input[type="file"] {
  background-color: white;
  font-size: 16px;
  border-radius: 50px;
  width: 232px;
  outline: none;
  box-shadow: 5px 5px 10px black;
  font-weight: bold;
  cursor: pointer;
 
}
::-webkit-file-upload-button {
  color: white;
  background: var(--main-color);
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 1px #6b4559;
  outline: none;
  padding: 10px 5px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;

}
::-webkit-file-upload-button:hover {
  background-color: rgb(0 131 143 / 31%);
  color: black;
}

.pro .twodmodel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 56px;
  width: 500px;
  height: 291px;
  align-items: center;
  text-align: center;
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%,22%);
}
.pro .twodmodel h3 {    text-transform: capitalize;
  color: var(--main-color);}


.pro .twodmodel input[type="file"] {
  background-color: white;
  font-size: 16px;
  border-radius: 50px;
  width: 232px;
  outline: none;
  box-shadow: 5px 5px 10px black;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;

}

::-webkit-file-upload-button {
  color: white;
  background: var(--main-color);
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 1px #6b4559;
  outline: none;
  padding: 10px 5px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;

}
::-webkit-file-upload-button:hover {
  background-color: rgb(0 131 143 / 31%);
  color: black;
}

/* start media  */
@media screen and (max-width: 400px){
 
  .pro .threedmodel {
    width: 350px !important;

  }
  .pro .twodmodel {
    width: 350px !important;
    transform: translate(-50%,32%) !important;
}
.pro input[type="submit"] {
  margin-left: 15px !important;

}


  }
  @media screen and (min-width: 401px) and (max-width: 600px) {
    .pro .twodmodel {
      width: 350px;
      left: 49%;
    }
    .pro .threedmodel {
      width: 340px;
    }
  }
/* end media  */


/* end two  */
/* start go  */
.go{
    margin-top: -201px;
    background-image: linear-gradient(rgb(0 131 143 / 53%), rgb(0 131 143 / 53%)),url(../image/mol.jpeg);
       padding-top: 50px;
    display: flex;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    justify-content: center;
    height: 300px;

}




.go .container{
        width: 73%;
    height: 221px;
    background: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.go .container h2{
  margin-top: 32px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 39px;
  font-weight: normal;
  color: var(--main-color);
  font-family: 'Libre Baskerville', serif;

}
.go .container .to-p{

  display: flex;
  justify-content: space-around;
  margin-top: 21px;
  font-family: 'Libre Baskerville', serif;

  
}.go .container .to-p p{
  width: 494px;
  margin-left: -21px;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;

  
}
.go .container .to-p a{
  width: fit-content;

  height: 30px;
    background: var(--main-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 24px 10px;
    margin-top: 14px;
    border-radius: 5px;
    font-family: 'Libre Baskerville', serif;
    transition: 0.3s;

}
.go .container .to-p a:hover{
  background-color: rgb(0 131 143 / 83%);
  ;
}
/* start media  */
@media screen and (max-width: 400px){
.go{
  height:400px;
}
.go .container {
  width: 96%;
  height: 300px;}
.go .container h2 {
  margin-top: 5px;
}
.go .container .to-p {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.go .container .to-p p{
  margin-left: 0px;
  width: 300px;
}
.go .container .to-p a {
  padding: 18px 10px;
  height: 40px !important;
}

}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .go .container {
       width: 96%;
    height: 300px;
    margin-left: 0px !important;
  }
    .go .container .to-p {
      display: flex;
    flex-direction: column;
    }

    .go .container .to-p p{
      margin-left: 0;
      width: 359px;
    }
}
@media screen and (min-width: 601px) and (max-width: 850px) {
  .go .container{
    width: 527px;
    height: 265px;
  }
    .go .container .to-p {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
}


  /* end media  */
/* end go  */
/* strat csv  */
.csv{
  width: 100%;
    height: 600px;
    margin-top: -139px;
    background-image: linear-gradient(rgb(0 131 143 / 53%), rgb(0 131 143 / 53%)),url(../image/go.jpeg);
    padding-top: 50px;
    display: flex;
    padding-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0px;
  font-family: 'Libre Baskerville', serif;
}
.csv .container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 202px auto;
}
.csv .container .csv-con{
  width: 500px;
  height: 364px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 53px;
  justify-content: center;
  align-items: center;
  text-align: center;
   margin-top: 100px;

}
.csv .container .csv-con h3{
  text-transform: capitalize;
  color: var(--main-color);
}
.csv .container .csv-con input[type="file"]{
  margin-left: 8px;
  
  background-color: white;
  font-size: 16px;
  border-radius: 50px;
  width: 232px;
  outline: none;
  box-shadow: 5px 5px 10px black;
  font-weight: bold;
  cursor: pointer;

}

/* start media  */
@media screen and (max-width: 400px){

.csv .container .csv-con {
  width: 350px;
}
}

@media screen and (min-width: 401px) and (max-width: 990px) {
  .sav .container h2 {
    margin-left: 16px !important;
  }
}
/* end media  */
/* end csv  */
/* start map  */
.maps{
       display: flex;
       height:330px;
      
}
.maps .map{
  width:40%;
}
.maps .map .located{
        max-width: 100%;
    max-height: 100%;
}
.maps .det-map{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    background-color:#212121;
}
.maps .det-map h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;  
  font-style: normal;
  font-weight: 700;
  color:white;
}
.maps .address{
  width: 30%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 31px;
    background-color: #181818;
}
.maps .address h1{
  color:white;
}
.maps .address i{
font-Size:48px;
color:white;
  
}
/* start media  */
@media screen and (max-width: 400px){
.maps{
    display: flex;
    flex-direction: column;
    height: 570px;
}
 .maps .map{
  width:100%;
}
.maps .det-map{
  width:100%;
  padding: 10px 0px;

}


.maps .map .located{
  height:300px;
}
.maps .address{
    width: 100%;
    padding: 10px 0px;
  }


}
/* end media  */
/* end map  */
/* start sav  */
.sav{
    padding-bottom: 200px;
    height: 300px;
    padding-top: 20px;
    background: var(--main-color);
}
.sav .container h2{
    display: flex;
    margin-left: 89px;
    Color:#f2eaea;
    text-transform: capitalize;
    font-size: 32px;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
}
.sav .container .sav-cont{
display: flex;
    justify-content: space-around;
    padding-top: 13px;
  
}
.sav .container .sav-cont p{
  color:white;
  font-size: 16px;
  text-transform: capitalize;
  font-family: 'Nunito Sans', sans-serif;
 

}
.sav .container .sav-cont input[type="submit"]{
    width: 96px;
    height: 46px;
    display: block;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    color: white;
    background: black;
    text-transform: capitalize;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 38px;
    font-size: 25px;
}
.sav .container .sav-cont input[type="submit"]:hover{
  background-color: rgba(62, 198, 210, 0.58);
}
.sav .mi{
      margin-left: 93px;
    margin-top: 20px;
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.4s ease-in-out;
    font-size: 20px;
        font-family: 'Libre Baskerville', serif;

}
.sav .mi:hover{
    background-color: rgb(97 217 228 / 41%);
    color: white;
  }

/* start media  */
@media screen and (max-width: 400px){
  .sav .container .sav-cont {
    display: flex;
    flex-direction: column;
  }
  .sav .container h2 {
    margin-left: 0;
  }
  .sav .container .sav-cont input[type="submit"]{
    padding: 0px 24px;
    width: fit-content;
    margin-top: 0px;

  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .sav .container .sav-cont {
    display: flex;
    flex-direction: column;
    }
}
@media screen and (min-width: 1030px) and (max-width: 1500px) {

  .sav .container h2 {
    margin-left: 118px;

  }

}
/* end media  */
/* end sav  */
