body {
    margin: 0;
    padding: 0;
    background-color: rgb(14 57 108) !important;
}


.main-body {
    padding: 15px;
    position: relative;
    top: 95px;
    display: flex;
    column-gap: 45px;

}

.hover_picture {
    background-color: #1a202c8a;
    width: 150px;
    height: 153px;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    opacity: 0;

}

.hover_picture a {
    font-size: 16px;
    width: 235px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: -43px;
    top: 80px;
    color: brown;

}

.show_hover_picture {
    background-color: #1a202c8a;
    width: 150px;
    height: 153px;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    opacity: 1;
    transition: 0.6s;

}

.profile_photo {
    height: 100%;
}

.parent {
    float: left;
    border: #8f6e0ef5 6px solid;
    border-radius: 5%;
}

.img-person {
    position: relative;
    top: 15px;
    left: 15px;
    overflow: hidden;
    transition: 8s 8s top;
}


.caption {

    width: 100%;
    height: 100%;
    background: rgb(20, 9, 9);
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: 0.8s 0.1s top, 0.8s 0.1s opacity;
    text-align: center;
}

.caption img {
    transition: 0.1s 0.1s background-color;
    transform: translateY(200px);
    width: 10%;


}

.caption img:hover {
    background-color: rgb(36, 98, 3);

}

.img-person:hover .caption {
    opacity: .8;
    top: 0%;
}

.profile_info {
    width: 700px;
    background-color: #69b2d5ab;
    position: relative;
    box-shadow: 1px 1px 16px 1px #000000;
    left: 30%;
    padding: 2%;
    border-radius: 16px;
}

.profile_info .row-container {
    position: relative;
    padding: 20px;

}

.profile_info .prop {
    position: absolute;
    top: 50px;
    font-weight: bold !important;

}

.profile_info .value {

    color: white;
    font-weight: bold !important;

}

.profile_info .prop h4 {
    color: #000000;
    font-weight: bold !important;
    margin-left: -24px;

}

.row-container {
    padding: 12px;

}


.row-container .value {
    margin-left: 240px;
}

hr {
    width: 66% !important;
    margin: 1px auto !important;
    height: 2px;
    width: 59% !important;
}

.form-actions {
    margin-top: 24px;
}

.form-actions a {
    width: 22%;
    height: 44px;
    margin: 20px 0 0 20px !important;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    position: absolute;
    left: 34%;
}

.form-2 {
    position: absolute;
    width: 58%;
    right: 65px;
    top: 25%;
    background-color: #69b2d5ab;
    box-shadow: 1px 1px 18px 3px #3e3e3e;
    padding: 30px;
    border-radius: 10px;
}

.form-3 {
    top: 100% !important;

}

.form-1 {
    position: absolute;
    left: 10%;
    top: 25%;
}

.save_profile {
    position: absolute;
    top: 400px;
    left: 46px;
    width: 75% !important;

}

.profile_picture {
    height: 445px;
    width: 320px;
}

.info_icons i {
    padding: 4px;
}
