/* body {
  margin: 0;
  padding: 0;
  background-image: url("../image/891564b36c068ad548bf1987eff8acf0.jpg");
  background-size: cover;
  font-family: sans-serif;
}
*/

a {
  text-decoration: none;
}
.login {
  position: relative;
  background-color: white;
  width: 280px;
  height: 500px;
  margin: 30px auto;
  box-shadow: -5px 4px 15px 15px #ddd;
}
.login h3 {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.login input[type="email"],
[type="password"] {
  background: none;
  outline: none;
  border: none;
  font-size: 15px;
}
.login input[type="submit"] {
  position: absolute;
  left: 50%;
  top: 61%;
  transform: translate(-50%, -50%);
  border: 2px solid #1787e0;
  padding: 10px 20px;
  border-radius: 10px;
}
.login .password {
  overflow: hidden;
  padding: 8px 0px;
  margin: 0 auto;
  border-bottom: 1px solid #1787e0;
  font-size: 20px;
  position: absolute;
  left: -2%;
  top: 40%;
  transform: translate(18%, -50%);
}
.login .email {
  overflow: hidden;
  padding: 8px 0;
  margin: 0 auto;
  border-bottom: 1px solid #1787e0;
  font-size: 20px;
  position: absolute;
  left: -2%;
  top: 29%;
  transform: translate(18%, -50%);
}
.login .password i {
  width: 20px;
  text-align: center;
  font-size: 20px;
  padding: 0 10px;
  color: #1787e0;
}
.login .email i {
  width: 20px;
  text-align: center;
  font-size: 20px;
  padding: 0 10px;
  color: #1787e0;
}

.login input[type="submit"]:hover {
  color: white;
  background-color: #1787e0;
  border-color: transparent;
  cursor: pointer;
}
.login .icon {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login .icon a {
  margin-right: 5px;
}
.login .icon i {
  transition: 0.3s;
}
.login .icon i:hover {
  color: #1787e0;
}
.login .signup {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.login .signup h3 {
  font-size: 17px;
  margin-bottom: 10px;
  position: absolute;
  top: -20px;
}

.login .signup .option {
  position: absolute;
  bottom: -78px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  display: flex;
  gap: 52px;
}
.login .signup .option a {
  background-color: #ff9800;
  border: 1px solid white;
  padding: 10px 5px;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.login .signup .option a:hover {
  background-color: #1787e0;
}
